.App {
  text-align: center;
}
Body{
background-image: url('./Component/first.jpg');
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
  width: 18rem;
  background-color: wheat;
  margin-bottom: 0.5em;
}
.Alllists{
  display: flex;
  flex-direction: row;
 
}
.list{
  display: flex;
  flex-direction: row;
  background-color: wheat;
  /* border: 2px solid black; */
  margin: 1em 1em 0em 1em;
  height: 2em;
  justify-content: flex-end;
}
.active{
  background-color: blue;
  color: white;
  display: flex;
  background-color: blue;
  color: white;
  box-sizing: border-box;
  height: 3em;
  width: 17em;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 1em 1em 1em 1em;
}

.btn{
  background-color: black;
}
.delete{
  background-color: #1bae73;
  width: 4em;
  margin: 0em 1em -0.5em 1em;
}
.bg-model{
  background-color: black;
  border: 5px solid red;
  height: 10em;
  width: 10em;
}
.FaTrash{
  background-color: green;
  margin-left: 12em;
  width: 3em;
  height: 3em;
}
.FaPenFancy{
  background-color: green;
  margin-left: 4em;
  width: 36px;
  height: 34px;
}
.listinput{
  background-color:whitesmoke;
}
.title{
background-color: wheat;
}
.card1{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 18rem;
  background-color: #f8f9fa;
  margin-bottom: 0.5em;
  height: 2em;

}
.cardedit{
  display: flex;
  margin: -1em 0em 0em 8em;;
}
.deletelist{
  display: flex;
  margin: -1em 0em 0em 8em;;
}
.active1{
  color: white;
  display: flex;
  color: black;
  box-sizing: border-box;
  height: 3em;
  width: 17em;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: 400;
  width: 18rem;
  background-color: #b7a5a0;
  margin: 1em 1em 1em 0em;
 

}